{% extends "homeworkapp/base.html" %}

{% block page_header %}
  <h3>{{ course }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
      <a href="{% url 'homeworkapp:new_homework' course.id %}">Add new homework</a> 
  </p>

  {% for homework in homeworks %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ homework.date_added|date:'M d, Y H:i' }}
        <small>
          <a href="{% url 'homeworkapp:edit_homework' homework.id %}">
            Edit homework</a></small>
      </h4>
      <div class="card-body">
        {{ homework.assignment|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no homeworks due for this course yet.</p>
  {% endfor %}

{% endblock content %}