{% extends "homeworkapp/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Edit homeowork.</h2>
{% endblock page_header %}

{% block content %}

    <p>><a href="{% url 'homeworkapp:course' course.id %}">Back</a></p>

    <form method='post' action="{% url 'homeworkapp:edit_homework' homework.id %}" class="form">
        {% csrf_token %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Save changes</button>
        {% endbuttons %}

        <input type="hidden" name="next"
            value="{% url 'homeworkapp:course' course.id %}" />
    </form>

{% endblock content %}