{% extends "homeworkapp/base.html" %}

{% block page_header %}
     <div class="jumbotron">
          <h1 class="display-3">Track your homeworks.</h1>

          <p class="lead">Homework App allows users to keep track of their homeworks and allows
               them to share them as well as share the materials needed to do them.</p>

          <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
               role="button">Register &raquo;</a>
     </div>
{% endblock page_header %}