{% extends "homeworkapp/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>A new course.</h2>
{% endblock page_header %}

{% block content %}

  <p><a href="{% url 'homeworkapp:courses' %}">Back</a></p>

  <form method="post" action="{% url 'homeworkapp:new_course' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Add course</button>
    {% endbuttons %}

    <input type="hidden" name="next"
      value="{% url 'homeworkapp:courses' %}" />
  </form>

{% endblock content %}